<h1>
  <% unless username.nil? %>
    Howdy <%= username %>! Lust auf <a href='/play' title='Neue Runde starten'>ein Spiel?</a>
  <% else %>
    Du musst dich einloggen um spielen zu können, sorry.
  <% end %>
</h1>
