<h1 class='page-header title'>
  <% unless username.nil? %>
    <%= t.login.authenticated(username) %>
  <% else %>
    <%= t.login.unauthenticated %>
  <% end %>
</h1>

<div class="github-fork-ribbon-wrapper left-bottom hidden-xs">
  <div class="github-fork-ribbon">
    <a href="https://github.com/optikfluffel/what-food-is-worse">Fork me on GitHub</a>
  </div>
</div>

<style media="screen">
  html {
    background: url(/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  body {
    background: 0;
  }
  h1.title {
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  }
</style>
