<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>Which food is better?</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta name='author' content='hackzurich2014'>
    <meta name='description' content='Simple game to learn which food is more healthy. Powered by API Preview from Migros.'>
    <link rel='stylesheet' type='text/css' href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css'>
    <link rel='stylesheet' type='text/css' href='//cdnjs.cloudflare.com/ajax/libs/c3/0.4.9/c3.min.css'>
    <link rel='stylesheet' type='text/css' href='//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.css'>
    <link rel='stylesheet' type='text/css' href='/styles.css'>
  </head>

  <body>
    <div id='wrapper'>
      <%= erb(:navbar) %>

      <div class='container-fluid'>
        <%= yield %>
      </div>
    </div> <%# /#wrapper %>

    <footer class='text-center'>
      <div class='container-fluid'>
        <p class='text-muted small'>
          Made with &hearts; at <a href='http://hackzurich.com'>Hackzürich</a> by <a href='https://twitter.com/l33tname'>@l33tname</a> &amp; <a href='https://twitter.com/optikfluffel'>@optikfluffel</a>
        </p>
      </div>
    </footer>

    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.min.js'></script>
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/c3/0.4.9/c3.min.js'></script>
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js'></script>
    <script type='text/javascript' src='/scripts.js'></script>
  </body>
</html>
