<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>What food is worse?</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta name='author' content='hackzurich2014'>
    <link rel='stylesheet' type='text/css' href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>

  <body style='padding-top: 70px;'> <!-- TODO: put in css file -->
    <div class='main' style='max-width:1200px;'> <!-- TODO: put in css file -->

      <%= erb(:navbar) %>

      <div class='container-fluid'>
        <%= yield %>
      </div>

    </div> <!-- /.main -->

    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
    <script type='text/javascript' src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>

    <!-- TODO: put in js file -->
    <script>
      $(document).ready(function () {
        // auto active
        $('a[href="' + this.location.pathname + '"]').parent().addClass('active');

        // show login
        $('.toggle-forms a.login').click(function(event) {
          event.preventDefault();
          $(this).parents('.toggle-forms').hide();
          $('.navbar-form.login').show();
        });
        $('.navbar-form.login .reset').click(function(event) {
          $(this).parents('.navbar-form').hide();
          $('#main-nav .toggle-forms').show();
        });

        // show register
        $('.toggle-forms a.register').click(function(event) {
          event.preventDefault();
          $(this).parents('.toggle-forms').hide();
          $('.navbar-form.register').show();
        });
        $('.navbar-form.register .reset').click(function(event) {
          $(this).parents('.navbar-form').hide();
          $('#main-nav .toggle-forms').show();
        });
      });
    </script>
  </body>
</html>
