html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 70px;
  margin-bottom: 45px;
}

.green {
  color: #3c763d;
}

.yellow {
  color: #FFD700;
}

.blue {
  color: #4169E1;
}

.red {
  color: #a94442;
}

#wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.question h1 {
  margin-top: 0;
}

.game-link,
.help {
  cursor: pointer;
}

.products {
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #e7e7e7;
  padding: 10px;
  margin: 1em 1em 2em;
}

.helper {
  margin-top: 20px;
}

.game-link img {
  margin: 0 auto;
}

body {
  background-color: #f8f8f8;
}

.alert {
  text-align: center;
}

#autoidlabs_logo {
  margin-top: -2px;
}

.stats.row {
  margin-top: 2.5em;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #fff;
}

footer p {
  margin-top: 1.3em;
}

.left-bottom .github-fork-ribbon {
  background-color: #3c763d;
}
